@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  color: #000000;
  background-color: #E5E5E5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* .text-purple{
  color: #333366;
  background-color: #333366;
} */
